<p>notice</p>
<p class="notice"><%= notice %></p>
<p>alert</p>
<p class="alert"><%= alert %></p>
<%= link_to 'MyServiceでログイン', 'auth/doorkeeper' %>

<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>
<br>
<%= link_to 'new user', new_user_path%>
