<!DOCTYPE html>
<html>
  <head>
    <title>OauthClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      サインインユーザー
      <br>
      ID: <%= current_user.id %>
      <br>
      Email:<%= current_user.email %>
    <% end %>

    <%= yield %>
  </body>
</html>
